/* modal */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 20%;
    /* margin-bottom: 60%; */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}
#modal-button {
    padding: 10px 20px;
    background-color: #9387d9;
    /* color: white; */
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
}
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="password"]:focus {
    outline: none;
}
small{
    color: red;
    font-weight: 500;
}
