main{
    display: flex;
    justify-content: center;
}
#login-form{
    margin: 5% 10%;
    width: 70%;
}
form{
    padding: 5% 10%;
    border-radius: 15px;
    border: 1px solid black;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
small{
    color: red;
    font-weight: 500;
}
#button{
    display: flex;
    justify-content: center;
}

