<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot credentials | MTS</title>
</head>
<body>

    <!-- Page header -->
    <header>
        <h1>Money Transfer System</h1>
    </header>


    <!-- Page main -->
    <main>
        {% if problem != 'exists' %}
            <h2>OTP Verification Phase</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="mobile_no">Mobile Number</label>
                    <input type="tel" placeholder="Enter your registered mobile no" name="mobile_no" id="mobile_no">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter your registered email" name="email" id="email">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
            {% if problem == 'not_exists' %}
                <span>{{message}}</span>
            {% endif %}
        {% else %}
            <form action="{% url 'GetOTP' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="mobile_otp">Mobile OTP</label>
                    <input type="password" placeholder="Enter OTP recieved on your registered mobile no" name="otp1" id="mobile_otp">
                </div>
                <div>
                    <label for="email_otp">Email OTP</label>
                    <input type="password" placeholder="Enter OTP recieved on your registerd email id" name="otp2" id="email_otp">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
            {% if problem == 'invalid_otps' and otp_verified == False %}
                <span>{{message}}</span>
            {% endif %}
        {% endif %}
    </main>


    <!-- page footer -->
    <footer></footer>
</body>
</html>