<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MTS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/header1.css">
    <link rel="stylesheet" href="/static/css/user_page.css">

</head>
<body>
    
    <header class="sticky-top navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="">Money Transfer System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href={{home_url}}>Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{profile_url}}>Profile ({{name}})<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{help_url}}>Help <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{logout_url}}>Logout <span class="sr-only"></span></a>
                </li>
            </ul>
            </div>
        </nav>
    </header>
    
    {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div  {% if message.tags %} class="{{message.tags}}" {% endif %}> {{ message }} </div>
        {% endfor %}
        </div>
    {% endif %}
    
    <!-- Page Main -->
    <main>
        <div id="icon-list">
            <div class="button_icons">
                <a href={{transfer_url}}>
                    <figure>
                        <img src="/static/img/transfer_funds_icon.png" alt="transfer funds" class="icon">
                        <figcaption>Transfer funds</figcaption>
                    </figure>
                </a>
            </div>
            <div class="button_icons">
                <a href={{message_url}}>
                    <figure>
                        <img src="/static/img/messages_icon.png" alt="messages" class="icon">
                        <figcaption>Messages</figcaption>
                    </figure>
                </a>
            </div>
            <div class="button_icons">
                <a href={{balance_url}}>
                    <figure>
                        <img src="/static/img/balance_icon.png" alt="transfer funds" class="icon">
                        <figcaption>Check Balance</figcaption>
                    </figure>
                </a>
            </div>
            <div class="button_icons">
                <a href={{history_url}}>
                    <figure>
                        <img src="/static/img/history_icon.png" alt="transfer funds" class="icon">
                        <figcaption>Transaction History</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </main>


    <!-- Page Footer -->
    <footer></footer>
</body>
</html>