<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Funds | MTS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/header1.css">
    <link rel="stylesheet" href="/static/css/icon_style.css">
    <link rel="stylesheet" href="/static/css/user_transfer_funds.css">
    <link rel="stylesheet" href="/static/css/mpin_modal.css">
</head>
<body>
    
    <!-- page header -->
    <header class="sticky-top navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="">Money Transfer System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href={{home_url}}>Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{profile_url}}>Profile ({{name.0}})<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{help_url}}>Help <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{logout_url}}>Logout <span class="sr-only"></span></a>
                </li>
            </ul>
            </div>
        </nav>
    </header>

    <!-- Page Main -->
    <main>
        {% if problem != 'done' %}
            <div id="pay-content">
                <div id="pay-head">
                    <h3>Fund Transfer</h3>
                    <hr>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if problem == 'balance' or problem == 'reciever' or problem == 'wrong_data' %}
                        <small>{{message}}</small>
                    {% endif %}
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" placeholder="Enter amount" name="amount" id="amount">
                    </div>
                    <div class="form-group">
                        <label for="reciever">To User-ID</label>
                        <input type="text" placeholder="Enter reciever's user-id" name="reciever" id="reciever">
                    </div>
                    <div class="form-group">
                        <label for="remarks">Remarks</label>
                        <textarea name="remarks" placeholder="default: No Remarks" id="remarks" cols="30" rows="10"></textarea>
                    </div>
                    <div class="button">
                        <div><button type="submit">Pay↗</button></div>
                    </div>
                </form>
            </div>
        {% else %}
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <h3>MPIN Verification</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <input type="password" maxlength="6" pattern="\d{6}"  name="mpin" placeholder="Enter your Mpin" required>
                        </div>
                        {% if balance == 'none' %}
                            <small>Incorrect MPIN !!!</small>
                        {% endif %}
                        <div>
                            <button id="modal-button" type="submit">Submit</button>            
                        </div>
                    </form>
                </div>
            </div>
        {% if problem == 'invalid_mpin' or problem == 'no_data' %}
                <span>{{message}}</span>
            {% endif %}
        {% endif %}
    </main>


    <!-- Page Footer -->
    <footer>
        <nav class="footer-navbar">
          <ul>
            <li class="bottom-nav" id="active">
                <a href={{transfer_url}}>
                    <i class="fas fa-user"><img src="/static/img/transfer_funds_icon.png" alt="transfer_funds_icon" class="icon"></i>
                    Transfer
                </a>
            </li>
            <li class="bottom-nav">
                <a href={{message_url}}>
                    <i class="fas fa-user"><img src="/static/img/messages_icon_white.png" alt="messages_icon_white" class="icon"></i>
                    Messages
                </a>
            </li>
            <li class="bottom-nav">
                <a href={{balance_url}}>
                    <i class="fas fa-user"><img src="/static/img/balance_icon_white.png" alt="balance_icon_white" class="icon"></i>
                    Balance
                </a>
            </li>
            <li class="bottom-nav">
                <a href={{history_url}}>
                    <i class="fas fa-user"><img src="/static/img/history_icon_white.png" alt="history_icon_white" class="icon"></i>
                    History
                </a>
            </li>
          </ul>
        </nav>
      </footer> 

    <script src="/static/javascript/mpin_modal.js"></script>
</body>
</html>